%h2= @site_group.name
- for page in @site_group.pages
  - for contact in page.contacts
    %dl
      %dd 
        Email:
        = contact.email
      %dl 
        Name:
        =contact.name
      %dl
        Notes:
        = contact.content
#TODO: update action for contacts
#Todo: destroy action for contacts
