%strong Welcome to the title finder.
%p
  This is a list of urls that were searched:
  %br
  - if SiteGroup.last
    = SiteGroup.last.urls
%div.site_group
  %form
    %p What sites do you want to take a look in?
    %textarea{ :rows => "10", :cols => "20", :name => "urls"}
    %input{:type => "submit", :value => "Send em into the machine"}
